#wrap_health_check {
    position: relative;
    width: 650px;
    padding: 20px 50px;
    margin: 20px auto;
}

#health_check_tool {
    position: fixed;
    right: 100px;
    top: 200px;
    z-index: 999;
    background: #444;
    border-radius: 5px;
    padding: 20px 0px;
}
#health_check_tool li {
    color: #aaa;
    display: block;
    padding: 5px 20px;
    cursor: default;
    text-align: center;
    border-top: 1px solid #666;
    border-bottom: 1px solid #222;
    font-size: 15px;
}

#health_check_tool li:hover {
    background: #666;
    color: #eee;
}