body {
    background: url("/image/homepage_background.jpg") no-repeat fixed;
    background-size: 100%;
}

div#wrap_banner{
    width: 100%;
    height: 200px;
}
div#banner{
    position: relative;
    width: 1100px;
    height: 200px;
    margin: auto;
    text-align: center;
}
div#banner h1{
    position: absolute;
    left: 250px;
    font-size: 2.5em;
    color: #9b9b9b;
    font-style: italic;
    height: 220px;
    line-height: 220px;
}
div#banner h1 span{
    color: #18ba00;
}
div#banner img{
    position: absolute;
    width: 100px;
    height: 100px;
    top:25px;
    left:850px;
}

div#wrap_content{
    width: 100%;
    height: 500px;
    background: #fff;
}
div #content{
    width: 1100px;
    margin: auto;
    height: 500px;
}
div#content ul,li{
    display: block;
}
div#content ul{
    width: 100%;
    height: 500px;
}
div#content li{
    position: relative;
    float: left;
    width: 32%;
    height: 500px;
}
div#content li.vertical_border{
    width: 0px;
    height: 300px;
    margin-top: 100px;
    border-left:1px solid rgba(24, 186, 0, 0.70);
    box-shadow: 1px 0px 10px #777;
}
div#content li h2{
    position: absolute;
    top:100px;
    left: 60px;
    font-size: 1em;
    height: 60px;
    line-height: 60px;
}
div#content li span.step{
    float: left;
    display: block;
    background: #444444;
    color: #ddd;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 100px;
}
div#content li span.step_content{
    float: left;
    margin-left: 20px;
}
div#content li img{
    width:150px;
    margin-left: 22%;
    margin-top: 50px;
}


footer{
    width: 100%;
    min-height: 100px;
    background: #444444;
    line-height: 100px;
    text-align: center;
}

footer h2{
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    float: left;
    margin-left: 70px;
}
footer div#temp_line{
    width: 1100px;
    height: 100px;
    line-height: 100px;
    margin: auto;
}
footer div#temp_line h2.vertical_line{
    height: 70px;
    border-left: 1px solid #333;
    border-right: 1px solid #555;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 15px;
}
footer a{
    color: inherit;
}
footer a:hover{
    color: #18ba00;
    text-decoration: underline;
}
