*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;
    color: #9b9b9b;
    background: #eee;
}
h1,h2,h3,h4,h5{
    font-family: 'Trebuchet MS','Microsoft Yahei', Myriad, Helvetica, Arial, sans-serif;
}
div{
    display: block;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}



header{
    height: 50px;
    background: rgba(221,221,221,0.95);
    box-shadow: 0px 0px 5px #9b9b9b;
}
div#nav_header{
    height: 50px;
    width: 1100px;
    margin: auto;
}

div#nav_header h1{
    background-image: url("/image/logo.png");
    height: 50px;
    width: 200px;
    float: left;
    cursor: pointer;
}
div#nav_header h1:hover{
    background-position: center center;
}

div#header_right{
    float: right;
}
div#nav_header ul{
	display:block;
    line-height: 50px;
}
div#nav_header ul li{
    float: left;
	display:block;
}
div#nav_header ul li a{
    display: block;
    color: #ff7400;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
div#nav_header ul li a:hover{
    background-color: #eee;
}
div#nav_header ul li.vertical_border{
    height: 50px;
	border-left:1px solid #ccc;
	border-right:1px solid #eee;
}

div.wrap_content{
    width: 1100px;
    margin: auto;
}


