*{
	margin:0;
	padding:0;
}

/*注册模块*/
.register{
	width:400px;
	margin:50px auto;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	font-family: Arial,"微软雅黑","宋体";
}

/*注册模块头部*/
.register-title{
	padding-bottom: 20px;
	border-bottom:1px solid #18ba00;
	height: 40px;
}
.register-title h1{
	color:#9b9b9b;
	font-size:16px;
	line-height:70px;
	padding: 0 30px;
}

/*注册模块主体*/
.register-content{
	position:relative;
	padding-top:5px;
}
.register-content div{
	margin:15px 25px 15px 35px;
}
.register-content label{
	color:#ccc;
}
.register-content input{
	display:inline-block;
	width: 300px;
	height: 34px;
	line-height: 34px;
	text-indent:1em;
	font-size:14px;
	outline:none;
	border:1px solid #dddddd;
}
.register-content input:hover{
	border:1px solid #9b9b9b ;
}
/*验证是否成功的提示信息，默认不可见*/
#validateEmail{
	display:none;
	margin-top:10px;
}
#validatePass{
	display:none;
	margin-top:10px;
}
#validatePassTwo{
	display:none;
	margin-top:10px;
}

/*处理chrome下input text框默认的背景色*/
input:-webkit-autofill { 
	-webkit-box-shadow: 0 0 0 1000px white inset;
} 
.register-content label{
	position:absolute;
	padding-top:2px;
	line-height: 34px;
	left:44px;
}
.register-content .reg_submit{
	border: 1px solid #dddddd;
	border-radius: 4px;
	/*background: url(../image/signup_bg.png) repeat-x left top;*/
	background-color: #dddddd;
	text-align: center;
  	height: 35px;
  	color: white;
  	font-size: 26px;
  	font-weight:900;
  	text-indent:0;
}
.register-content .reg_submit:hover{
	background-color: #9b9b9b; 
}